body::after {
	content: "";
	background-color: rgba($blackColor, 0.6);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}

.popup-review {
	.popup {
		// .popup__wrapper
		&__wrapper {
		}
		// .popup__content
		&__content {
			border-radius: 0;
			@include adaptiveValue("padding", 25, 15);
		}
		// .popup__btn-close
		&__btn-close {
			display: flex;
			justify-content: flex-end;
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
		// .popup__close
		&__close {
			display: block;
			position: relative;
			width: rem(25);
			height: rem(25);
			cursor: pointer;
			z-index: 5;
			&::before,
			&::after {
				content: "";
				transition: all 0.3s ease 0s;
				right: 0;
				position: absolute;
				width: 100%;
				height: rem(2);
				background-color: #ababab;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
			@media (any-hover: hover) {
				&:hover {
					&::before,
					&::after {
						background-color: $pinkColor;
					}
				}
			}
		}
		// .popup__body
		&__body {
			@include adaptiveValue("padding-bottom", 50, 0);
			@include adaptiveValue("padding-left", 50, 0);
			@include adaptiveValue("padding-right", 50, 0);
		}
		// .popup__title
		&__title {
			@extend %ff-namu-pro;
			font-weight: 900;
			@include adaptiveValue("font-size", 30, 26);
			line-height: 120%; /* 36/30 */
			color: $blackColor;
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 40, 20);
			}
		}
		// .popup__form
		&__form {
			display: flex;
			flex-direction: column;
			row-gap: rem(10);
		}
	}
	.form-popup {
		// .form-popup__line
		&__line {
			&._form-error {
				.form__error {
					color: red;
					font-size: rem(10);
				}
			}
		}
		// .form-popup__rating
		&__rating {
			flex-direction: column-reverse;
			align-items: flex-start;
			row-gap: rem(10);
			@include adaptiveValue("font-size", 40, 30, 1360, 768, 1);
			.rating__value {
				line-height: 138.888889%; /* 25/18 */
				color: #ababab;
			}
		}
		&__input,
		&__textarea,
		&__file {
			width: 100%;
			display: block;
			padding: rem(6) rem(15);
			background-color: transparent;
			font-weight: 400;
			font-size: rem(14);
			line-height: 114.285714%; /* 16/14 */
			color: #000;
			border: 1px solid #d9d9d9;
			border-radius: rem(2);
			&::placeholder {
				color: #ababab;
			}
		}
		// .form-popup__input
		&__input {
			min-height: rem(30);
		}
		// .form-popup__textarea
		&__textarea {
			resize: vertical;
			min-height: rem(100);
		}
		// .form-popup__file
		&__file {
			padding-top: rem(10);
		}
		// .form-popup__button
		&__button {
			margin-top: rem(20);
		}
	}
	.file-form-popup {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		row-gap: rem(10);
		// .file-form-popup__header
		&__header {
			position: relative;
		}
		// .file-form-popup__button
		&__button {
			display: inline-flex;
			min-height: rem(16);
			font-weight: 400;
			line-height: 140%;
			color: $pinkColor;
			border-bottom: 1px solid $pinkColor;
		}
		// .file-form-popup__input
		&__input {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			font-size: 0;
			cursor: pointer;
		}
		// .file-form-popup__text
		&__text {
			max-width: rem(300);
		}
		// .file-form-popup__preview
		&__preview {
			display: inline-block;
			max-width: rem(95);
			width: 100%;
			max-height: rem(95);
			overflow: hidden;
			img {
				max-width: 100%;
			}
		}
	}
}
