%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-heart:before {
	content: "\e90a";
}
._icon-shopping-bag:before {
	content: "\e900";
}
._icon-arrow-left:before {
	content: "\e901";
}
._icon-arrow-right:before {
	content: "\e902";
}
._icon-arrow-right-bottom:before {
	content: "\e903";
}
._icon-check:before {
	content: "\e904";
}
._icon-plus:before {
	content: "\e905";
}
._icon-select-arrow:before {
	content: "\e906";
}
._icon-telegram:before {
	content: "\e907";
}
._icon-vk:before {
	content: "\e908";
}
._icon-youtube:before {
	content: "\e909";
}
