//==========================================================================================================================
.page {
	// .page__product
	&__product {
		@include adaptiveValue("padding-top", 50, 20);
		@include adaptiveValue("padding-bottom", 150, 50);
	}
	// .page__details
	&__details {
		@include adaptiveValue("padding-top", 90, 40);
		@include adaptiveValue("padding-bottom", 50, 40);
	}
	// .page__video-module
	&__video-module {
	}
	// .page__similar
	&__similar {
		@include adaptiveValue("padding-top", 150, 40);
		@include adaptiveValue("padding-bottom", 150, 40);
	}
}

//==========================================================================================================================

.product {
	// .product__container
	&__container {
	}
	// .product__breadcrumbs
	&__breadcrumbs {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	// .product__main
	&__main {
		@include adaptiveValue("padding-top", 60, 20);
	}
}
.main-product {
	display: grid;
	@include adaptiveValue("row-gap", 50, 30, 768, 320, 1);
	align-items: start;
	@media (min-width: $mobile) {
		column-gap: rem(10);
		grid-template-columns: percent(680, 1360) 1fr;
	}
	// .main-product__images
	&__images {
	}
	// .main-product__content
	&__content {
	}
}
.images-product {
	display: grid;
	align-items: start;
	align-self: start;
	row-gap: rem(15);

	@media (min-width: $tablet) {
		grid-template-columns: percent(95, 680) 1fr;
		column-gap: rem(16);
		// max-height: rem(573);
		// height: 100%;
	}
	// .images-product__thumbs
	&__thumbs {
		@media (max-width: $tablet) {
			order: 2;
		}
		.swiper-wrapper {
			@media (min-width: $tablet) {
				display: grid;
				gap: rem(16);
			}
		}
	}
	// .images-product__slider
	&__slider {
		align-self: start;
		@media (max-width: $tablet) {
			order: 1;
		}
	}
}
.thumbs-images {
	position: relative;
	touch-action: pan-y;
	@media (min-width: $tablet) {
		height: 100%;
	}
	@media (min-width: $tablet) {
		touch-action: pan-x;
	}
	@media (max-width: $mobileSmall) {
		display: none;
	}
	// .thumbs-images__wrapper
	&__wrapper {
	}
	// .thumbs-images__slide-ibg
	&__slide-ibg {
		cursor: pointer;
		opacity: 0.5;
		transition: all 0.3s ease 0s;
		&.swiper-slide-thumb-active {
			opacity: 1;
		}
		@media (min-width: $tablet) {
			padding-bottom: percent(95, 95);
			width: auto !important;
			height: auto !important;
		}
		@media (max-width: $tablet) {
			padding-bottom: percent(88, 480);
		}
		@media (max-width: $mobile) {
			padding-bottom: percent(139, 737);
		}
	}
	// .thumbs-images__button
	&__button {
		position: absolute;
		z-index: 5;

		span {
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
		}
		@media (min-width: $tablet) {
			width: 100%;
			left: 50%;
			transform: translate(-50%, 0%);
		}
		@media (max-width: $tablet) {
			height: 100%;
			top: 50%;
			transform: translate(0%, -50%);
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .thumbs-images__prev
	&__prev {
		span {
			@media (min-width: $tablet) {
				border-width: 0 10.5px 11px 10.5px;
				border-color: transparent transparent $pinkColor transparent;
			}
			@media (max-width: $tablet) {
				border-width: 10.5px 11px 10.5px 0;
				border-color: transparent $pinkColor transparent transparent;
			}
		}
		@media (min-width: $tablet) {
			top: rem(0);
			span {
				margin-top: rem(8);
			}
		}
		@media (max-width: $tablet) {
			left: rem(0);
			span {
				margin-left: rem(8);
			}
		}
	}
	// .thumbs-images__next
	&__next {
		span {
			@media (min-width: $tablet) {
				border-width: 11px 10.5px 0 10.5px;
				border-color: $pinkColor transparent transparent transparent;
			}
			@media (max-width: $tablet) {
				border-width: 10.5px 0 10.5px 11px;
				border-color: transparent transparent transparent $pinkColor;
			}
		}
		@media (min-width: $tablet) {
			bottom: rem(0);
			span {
				margin-bottom: rem(8);
			}
		}
		@media (max-width: $tablet) {
			right: rem(0);
			span {
				margin-right: rem(8);
			}
		}
	}
}
.slider-images {
	touch-action: pan-y;
	// .slider-images__wrapper
	&__wrapper {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// .slider-images__slide-ibg
	&__slide-ibg {
		padding-bottom: percent(554, 550);
	}
	// .slider-images__controll
	&__controll {
		display: flex;
		justify-content: center;
		@media (min-width: $mobileSmall) {
			display: none;
		}
	}
	// .slider-images__dotts
	&__dotts {
		display: flex;
		gap: rem(15);
		.swiper-pagination-bullet {
			width: rem(9);
			height: rem(9);
			background-color: #d9d9d9;
			border-radius: 50%;
		}
		.swiper-pagination-bullet-active {
			background-color: $blackColor;
		}
	}
}

.content-main-product {
	/* 	display: flex;
	align-items: flex-end;
	justify-content: flex-end; */
	// .content-main-product__body
	&__body {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 40, 20);
		@media (min-width: $mobile) {
			@include adaptiveValue("padding-left", 125, 20, 1360, 768, 1);
			@include adaptiveValue("padding-top", 60, 0, 1360, 768, 1);
		}
	}
	// .content-main-product__title
	&__title {
		@extend %ff-namu-pro;
		@include adaptiveValue("font-size", 38, 24);
		line-height: 110%;
		color: $blackColor;
	}
	// .content-main-product__text
	&__text {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 16);
		line-height: 150%;
		color: $blackColor;
	}
	// .content-main-product__more
	&__more {
		// display: inline-block;
		align-self: start;
		@media (min-width: $mobileSmall) {
			display: none;
		}
	}
	// .content-main-product__available
	&__available {
		@extend .info-products-card__available;
	}
	// .content-main-product__value
	&__value {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: rem(20);
		row-gap: rem(10);
		@extend %ff-namu-pro;
		font-weight: 900;
	}
	// .content-main-product__old-price
	&__old-price {
		@extend .value-products-card__old-price;
	}
	// .content-main-product__price
	&__price {
		@extend .value-products-card__price;
	}
	// .content-main-product__footer
	&__footer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(261), 1fr));
		@include adaptiveValue("row-gap", 20, 15);
		@include adaptiveValue("column-gap", 20, 15);
	}
}
.footer-content-main-product {
	// .footer-content-main-product__quantity
	&__quantity {
		&.quantity {
			border: 1px solid $blackColor;
			border-radius: rem(3);
			width: rem(220);
			// width: 100%;
			@include adaptiveValue("height", 64, 50);
			flex-direction: row-reverse;
			// margin: 0 auto;
			@media (max-width: $mobile) {
				width: 100%;
			}
		}
		.quantity__button {
			flex: 0 0 rem(55);
			display: flex;
			align-items: center;
			justify-content: center;
			&::before,
			&::after {
				width: rem(18);
				background-color: $blackColor;
				width: rem(18);
				height: rem(2);
				transition: all 0.3s ease 0s;
			}
			@media (any-hover: hover) {
				&:hover {
					&::before,
					&::after {
						background-color: $pinkColor;
					}
				}
			}
		}
		.quantity__input {
			input {
				color: $blackColor;
				font-size: rem(24);
			}
		}
	}
	// .footer-content-main-product__button
	&__button {
		width: 100%;
		display: inline-flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		column-gap: em(20, 24);
	}
}

//==========================================================================================================================

.details {
	background-color: #f5f5f5;
	// .details__container
	&__container {
	}
	// .details__tabs
	&__tabs {
	}
}
.tabs-details {
	// .tabs-details__navigation
	&__navigation {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;

		border-bottom: 2px solid #ababab;
	}
	// .tabs-details__title
	&__title {
		@include adaptiveValue("padding", 25, 15);
		white-space: nowrap;
		@extend %ff-namu-pro;
		font-weight: 900;
		@include adaptiveValue("font-size", 20, 16);
		line-height: 120%; /* 24/20 */
		color: $blackColor;
		position: relative;
		&._tab-active {
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: rem(-2);
				width: 100%;
				height: rem(4);
				background-color: $blackColor;
			}
		}
	}
	// .tabs-details__content
	&__content {
		@include adaptiveValue("padding-top", 100, 35);
		@include adaptiveValue("padding-bottom", 100, 35);
	}
	// .tabs-details__body
	&__body {
	}
}
.equipment-details {
	// .equipment-details__cards
	&__cards {
		display: grid;
		@include adaptiveValue("gap", 20, 15);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(4, 1fr);
			// grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
		}
	}
	// .equipment-details__card
	&__card {
	}
}
.card-equipment {
	height: 100%;
	background-color: #fff;
	border-radius: rem(3);
	display: grid;
	align-items: start;
	grid-template-rows: auto 1fr;
	@media (min-width: $mobile) {
		grid-row: span 2;
	}
	@media (max-width: $mobile) {
		grid-template-columns: percent(302, 738) 1fr;
		column-gap: rem(10);
	}
	// .card-equipment_large
	&_large {
		@media (min-width: $mobile) {
			grid-column: span 2;
			grid-row: span 3;
		}
	}
	// .card-equipment_big
	&_big {
		grid-template-columns: percent(302, 738) 1fr;
		column-gap: rem(10);
		@media (min-width: $mobile) {
			grid-column: span 2;
			grid-row: span 1;
		}
	}
	// .card-equipment__image
	&__image {
		@include adaptiveValue("padding-left", 30, 0);
		@include adaptiveValue("padding-right", 30, 0);
	}
	// .card-equipment__item-image-ibg
	&__item-image-ibg {
		display: block;
		// .card-equipment__item-image-ibg_contain
		&_contain {
			padding-bottom: percent(282, 282);
		}
	}
	// .card-equipment__body
	&__body {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("padding-top", 40, 15);
		@include adaptiveValue("padding-bottom", 50, 20);
		@include adaptiveValue("padding-left", 40, 0);
		@include adaptiveValue("padding-right", 40, 10);
	}
	// .card-equipment__title
	&__title {
		flex: 1 1 auto;
		@extend %ff-namu-pro;
		@include adaptiveValue("font-size", 30, 20);
		line-height: 120%; /* 36/30 */
		color: $blackColor;
		&:not(:last-child) {
			margin-bottom: em(20, 30);
		}
	}
	// .card-equipment__text
	&__text {
		font-weight: 300;
		line-height: 1.5;
		@include adaptiveValue("font-size", 18, 14);
	}
}
.characteristics-details {
	// .characteristics-details__table
	&__table {
	}
}
.table-characteristics {
	border-top: 1px solid $blackColor;
	border-bottom: 1px solid $blackColor;

	// .table-characteristics__line
	&__line {
		display: grid;
		row-gap: rem(10);

		@include adaptiveValue("padding-top", 30, 15);
		@include adaptiveValue("padding-bottom", 30, 15);
		color: $blackColor;
		&:not(:last-child) {
			border-bottom: 1px solid $blackColor;
		}
		@media (min-width: $mobileSmall) {
			grid-template-columns: 1fr 1fr;
			column-gap: rem(20);
		}
	}
	// .table-characteristics__label
	&__label {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 16);
		line-height: 138.888889%; /* 25/18 */
	}
	// .table-characteristics__value
	&__value {
		@extend %ff-namu-pro;
		font-weight: 900;
		@include adaptiveValue("font-size", 30, 18);
		line-height: 120%; /* 36/30 */
	}
}
.delivery-details {
	display: grid;
	@include adaptiveValue("row-gap", 100, 40);
	// .delivery-details__items
	&__items {
		display: grid;
		gap: rem(30);
		@media (min-width: $mobile) {
			grid-template-columns: 1fr 1fr;
		}
	}
	// .delivery-details__item
	&__item {
		height: 100%;
	}
	// .delivery-details__city
	&__city {
	}
	// .delivery-details__regions
	&__regions {
	}
	// .delivery-details__points
	&__points {
	}
	// .delivery-details__form
	&__form {
	}
}
.city-delivery__list,
.regions-delivery__list {
	li {
		position: relative;
		padding-left: rem(30);
		@include adaptiveValue("font-size", 18, 14);
		line-height: 1.4;
		&::before {
			content: "";
			position: absolute;
			@include adaptiveValue("width", 9, 6);
			@include adaptiveValue("height", 9, 6);
			top: rem(5);
			left: 0;
			border-radius: 50%;
			background-color: $blackColor;
		}
		&:not(:last-child) {
			margin-bottom: em(15, 18);
		}
	}
}
.city-delivery {
	// .city-delivery__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(30, 30);
		}
	}
	// .city-delivery__list
	&__list {
		li {
		}
	}
}

.regions-delivery {
	// .regions-delivery__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(30, 30);
		}
	}
	// .regions-delivery__list
	&__list {
	}
}
.points-delivery {
	// .points-delivery__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(30, 30);
		}
	}
	// .points-delivery__map
	&__map {
	}
}
.map-delivery {
	position: relative;
	// .map-delivery__map
	&__map {
		overflow: hidden;
		height: 0;
		position: relative;
		@media (min-width: $mobile) {
			padding-bottom: percent(800, 1360);
		}
		@media (max-width: $mobile) {
			padding-bottom: percent(700, 630);
		}
		@media (max-width: $mobileSmall) {
			padding-bottom: percent(630, 290);
		}
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	// .map-delivery__inner
	&__inner {
		position: absolute;
		z-index: 1;
		left: 0;
		overflow: auto;
		background-color: rgba(217, 217, 217, 0.6);
		@media (min-width: $mobile) {
			@include adaptiveValue("padding", 30, 5, 1360, 768, 1);
			top: 0;
			width: percent(550, 1360);
			height: 100%;
		}
		@media (max-width: $mobile) {
			width: 100%;
			height: 40%;
			bottom: 0;
			@include adaptiveValue("padding", 30, 15, 768, 320, 1);
		}
	}
	// .map-delivery__form
	&__form {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15, 1360, 768, 1);
		}
	}
	// .map-delivery__items
	&__items {
		display: grid;
		row-gap: rem(20);
	}
	// .map-delivery__item
	&__item {
		background-color: #fff;
		@include adaptiveValue("padding", 30, 15);
	}
}

.form-map {
	@media (max-width: $mobile) {
		position: absolute;
		@include adaptiveValue("top", 20, 10);
		@include adaptiveValue("left", 20, 10);
	}
	// .form-map__header
	&__header {
		display: flex;
		@include adaptiveValue("column-gap", 20, 5);
	}
	// .form-map__input
	&__input {
		width: 100%;
		background: #fff;
		box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.05);
		border-radius: rem(3);
		@include adaptiveValue("height", 42, 35);
		padding-top: rem(10);
		padding-bottom: rem(10);
		@include adaptiveValue("padding-left", 40, 20);
		@include adaptiveValue("padding-right", 40, 20);
		&::placeholder {
			font-size: rem(16);
			line-height: 137.5%; /* 22/16 */
			color: #868686;
		}
	}
	// .form-map__button
	&__button {
		flex: 0 0 rem(42);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $blackColor;
		&::before {
			color: #fff;
		}
	}
}
.item-map-delivery {
	display: grid;
	row-gap: rem(20);
	// .item-map-delivery__title
	&__title {
		@extend %ff-namu-pro;
		font-weight: 900;
		@include adaptiveValue("font-size", 20, 16);
		line-height: 120%; /* 24/20 */
		color: $blackColor;
	}
	// .item-map-delivery__address
	&__address {
		align-self: start;
		font-weight: 300;
		font-size: rem(16);
		line-height: 120%;
		color: $blackColor;
	}
	// .item-map-delivery__availability
	&__availability {
		padding-left: rem(35);
		@include adaptiveValue("font-size", 18, 14);
		line-height: 138.888889%; /* 25/18 */
		color: #68ae5c;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: rem(13);
			height: rem(13);
			border-radius: 50%;
			background-color: #68ae5c;
			transform: translate(0%, -50%);
		}
	}
}
.form-delivery {
	background: #ffffff;
	border-radius: rem(3);
	@include adaptiveValue("padding", 70, 20);
	// .form-delivery__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(30, 30);
		}
	}
	// .form-delivery__inner
	&__inner {
		display: grid;
		row-gap: rem(20);
		max-width: rem(585);
	}
	// .form-delivery__item
	&__item {
		// .form-delivery__item_button
		&_button {
			@include adaptiveValue("margin-top", 20, 20);
		}
		&._form-error {
			.form__error {
				color: red;
				font-size: rem(12);
				margin-top: rem(5);
			}
		}
	}
	// .form-delivery__input
	&__input {
		width: 100%;
		background-color: transparent;
		@include adaptiveValue("height", 70, 35);
		border-bottom: 1px solid $blackColor;
		line-height: 138.888889%; /* 25/18 */
		padding: rem(20) rem(10);
		&::placeholder {
			color: #ababab;
		}
	}
	// .form-delivery__period
	&__period {
	}
	// .form-delivery__button
	&__button {
		align-self: start;
	}
}
.payment-details,
.rules-details,
.guarantee-details {
	// @include adaptiveValue("padding-left", 120, 0);
	// @include adaptiveValue("padding-right", 120, 0);
	font-weight: 300;
	@include adaptiveValue("font-size", 18, 14);
	line-height: 150%;
	color: $blackColor;
}
.payment-details {
	display: grid;
	row-gap: rem(30);
	// .payment-details__text
	&__text {
	}
	// .payment-details__way
	&__way {
	}
	// .payment-details__label
	&__label {
		&:not(:last-child) {
			margin-bottom: em(15, 18);
		}
	}
	// .payment-details__list
	&__list {
		padding-left: rem(15);
	}
}
.rules-details {
	// .rules-details__text
	&__text {
	}
}
.guarantee-details {
	// .guarantee-details__text
	&__text {
	}
}
.certificates-details {
	// .certificates-details__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(140), 1fr));
		@include adaptiveValue("gap", 20, 10);
	}
	// .certificates-details__image-ibg
	&__image-ibg {
		padding-bottom: percent(378, 268);
	}
}

//==========================================================================================================================

.video-module {
	// .video-module__container
	&__container {
	}
	// .video-module__item
	&__item {
		cursor: pointer;
		position: relative;
		padding-bottom: percent(763, 1360);
		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0px;
			height: 0px;
			border-style: solid;
			border-right-width: 0;
			border-width: 50px 0 50px 100px;
			@include adaptiveValue("border-left-width", 100, 30);
			@include adaptiveValue("border-top-width", 50, 15);
			@include adaptiveValue("border-bottom-width", 50, 15);
			border-color: transparent transparent transparent #fff;
		}
		&._active {
			&::before {
				display: none;
			}
		}
		video {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

//==========================================================================================================================

.similar {
	// .similar__container
	&__container {
	}
	// .similar__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 30);
		}
	}
	// .similar__products
	&__products {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 130, 40);
		}
	}
	// .similar__button
	&__button {
		display: flex;
		justify-content: center;
	}
	// .similar__btn
	&__btn {
		display: flex;
		align-items: center;
		gap: rem(15);
	}
}
//==========================================================================================================================

//!==========================================================================================================================
