//====================================================================================================

.footer {
	background-color: $blackColor;
	color: #fff;
	@include adaptiveValue("padding-top", 50, 30);
	@include adaptiveValue("padding-bottom", 50, 30);
	// .footer__container
	&__container {
	}
	// .footer__top
	&__top {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		row-gap: rem(25);
		&:not(:last-child) {
			margin-bottom: rem(25);
		}
	}
	// .footer__logo
	&__logo {
	}
	// .footer__about
	&__about {
		@extend %ff-namu-pro;
		font-weight: 900;
		font-size: rem(24);
		line-height: 120.833333%; /* 29/24 */
	}
	// .footer__items
	&__items {
		display: grid;
		column-gap: rem(25);
		// row-gap: rem(30);
		@include adaptiveValue("row-gap", 30, 0, 1360, 768, 1);
		&:not(:last-child) {
			margin-bottom: rem(45);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	// .footer__item
	&__item {
	}
	// .footer__copy
	&__copy {
		font-weight: 300;
		line-height: 150%;
	}
}
.item-footer {
	// .item-footer__spoller
	&__spoller {
	}
}
.spoller-item-footer {
	// .spoller-item-footer__item
	&__item {
	}
	// .spoller-item-footer__title
	&__title {
		@extend %ff-namu-pro;
		font-weight: 900;
		font-size: rem(24);
		line-height: 120.833333%; /* 29/24 */
		&:not(:last-child) {
			margin-bottom: em(10, 24);
		}
		._spoller-init & {
			display: flex;
			width: 100%;
			column-gap: rem(10);
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			&::before {
				@extend %ic;
				content: "\e906";
				font-size: rem(9);
				transition: all 0.3s ease 0s;
			}
			&._spoller-active {
				&::before {
					transform: rotate(-180deg);
				}
			}
		}
	}
	// .spoller-item-footer__body
	&__body {
		padding: rem(20) 0;
		@include adaptiveValue("padding-top", 20, 15);
		@include adaptiveValue("padding-bottom", 30, 20);
	}
	// spoller-item-footer__phones
	&__phones {
		display: inline-block;
		@extend %ff-namu-pro;
		font-weight: 900;
		font-size: rem(24);
		line-height: 150%;
		transition: color 0.3s ease 0s;
		&:not(:last-child) {
			margin-bottom: rem(54);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ababab;
			}
		}
	}
}
.menu-footer {
	// .menu-footer__list
	&__list {
	}
	// .menu-footer__item
	&__item {
		&:not(:last-child) {
			margin-bottom: em(10, 18);
		}
	}
	// .menu-footer__link
	&__link {
		font-weight: 300;
		line-height: 140%;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #ababab;
			}
		}
	}
}
.social-footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: rem(20);
	// .social-footer__item
	&__item {
	}
	// .social-footer__link
	&__link {
		width: rem(40);
		height: rem(40);
		display: inline-block;
		background-color: #fff;
		color: #000;
		border-radius: 50%;
		transition: transform 0.3s ease 0s;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.15);
			}
		}
	}
}

//====================================================================================================
