//====================================================================================================

.page {
	// .page_mainpage
	&_mainpage {
		@include adaptiveValue("padding-top", 110, 85);
	}
	// .page__goods
	&__goods {
		@include adaptiveValue("padding-top", 150, 40);
		@include adaptiveValue("padding-bottom", 150, 40);
	}
	// .page__opinion
	&__opinion {
	}
	// .page__advantages
	&__advantages {
		@include adaptiveValue("padding-top", 150, 40);
		@include adaptiveValue("padding-bottom", 150, 40);
	}
	// .page__special
	&__special {
		@include adaptiveValue("padding-top", 150, 40);
		@include adaptiveValue("padding-bottom", 150, 40);
	}
	// .page__reviews
	&__reviews {
		@include adaptiveValue("padding-top", 150, 40);
		@include adaptiveValue("padding-bottom", 150, 40);
	}
	// .page__faq
	&__faq {
		@include adaptiveValue("padding-top", 150, 40);
		@include adaptiveValue("padding-bottom", 150, 40);
	}
	// .page__news
	&__news {
		@include adaptiveValue("padding-top", 150, 40);
		@include adaptiveValue("padding-bottom", 150, 40);
	}
	// .page__contacts
	&__contacts {
		@include adaptiveValue("padding-top", 150, 40);
		@include adaptiveValue("padding-bottom", 150, 40);
	}
}

//==========================================================================================================================

.mainpage {
	background: linear-gradient(0deg, #dddddd, #dddddd);
	// .mainpage__container
	&__container {
		display: grid;
		column-gap: rem(20);
		row-gap: rem(40);
		align-items: end;
		@media (min-width: $mobile) {
			grid-template-columns: 1fr percent(720, 1360);
		}
	}
	// .mainpage__body
	&__body {
		padding: rem(20) 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		@include adaptiveValue("row-gap", 40, 15);
		@media (min-width: $mobile) {
			max-width: rem(560);
		}
	}
	// .mainpage__title
	&__title {
		@extend %ff-namu-pro;
		font-weight: 900;
		@include adaptiveValue("font-size", 46, 24);
		line-height: 103%;
		color: $blackColor;
	}
	// .mainpage__text
	&__text {
		@include adaptiveValue("font-size", 26, 14);
		line-height: 130%;
		color: $blackColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 0, 1360, 768, 1);
		}
	}
	// .mainpage__button
	&__button {
		align-self: flex-start;
	}
	// .mainpage__media
	&__media {
	}
	// .mainpage__image-ibg
	&__image-ibg {
		padding-bottom: 100%;
	}
}

//====================================================================================================

.goods {
	// .goods__container
	&__container {
	}
	// .goods__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
		gap: rem(20);
	}
	// .goods__item
	&__item {
	}
}
.item-goods {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	@media (any-hover: hover) {
		&:hover {
			.item-goods__body {
				background-color: $blackColor;
				border-radius: 0px 0px 10px 10px;
			}
			.item-goods__name,
			.item-goods__button {
				color: #fff;
			}
		}
	}
	// .item-goods__image-ibg
	&__image-ibg {
		padding-bottom: 100%;
	}
	// .item-goods__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: rem(20) rem(40) rem(30) rem(40);
		transition: all 0.3s ease 0s;
	}
	// .item-goods__name
	&__name {
		flex: 1 1 auto;
		@extend %ff-namu-pro;
		font-weight: 900;
		font-size: rem(30);
		line-height: 110%; /* 33/30 */
		color: $blackColor;
		transition: all 0.3s ease 0s;
		&:not(:last-child) {
			margin-bottom: em(11, 30);
		}
	}
	// .item-goods__name-link
	&__name-link {
	}
	// .item-goods__button
	&__button {
		font-size: rem(24);
		line-height: 137.5%; /* 33/24 */
		color: $blackColor;
		transition: all 0.3s ease 0s;
		span {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			column-gap: rem(20);
		}
	}
}

//==========================================================================================================================

.opinion {
	background-color: #f8f8f8;
	// .opinion__container
	&__container {
	}
	// .opinion__row
	&__row {
		display: grid;
		align-items: end;
		@media (min-width: $mobile) {
			grid-template-columns: auto 45%;
		}
	}
	// .opinion__column
	&__column {
		&_1 {
			align-self: center;
		}
	}
	// .opinion__content
	&__content {
		padding: rem(40) 0;
	}
	// .opinion__image-ibg
	&__image-ibg {
		padding-bottom: 100%;
	}
}
.content-opinion {
	// .content-opinion__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	// .content-opinion__text
	&__text {
		color: #000;
		p {
			&:not(:last-child) {
				margin-bottom: em(20, 18);
			}
		}
	}
}

//==========================================================================================================================

.advantages {
	// .advantages__container
	&__container {
	}
	// .advantages__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(60);
		}
	}
	// .advantages__items
	&__items {
		display: grid;
		gap: rem(20);
		grid-template-columns: repeat(3, 1fr);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	// .advantages__item
	&__item {
	}
}
.item-advantages {
	height: 100%;
	display: grid;
	row-gap: rem(40);
	box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.05);
	@include adaptiveValue("padding-top", 45, 30);
	@include adaptiveValue("padding-bottom", 45, 30);
	padding-left: rem(15);
	padding-bottom: rem(15);
	transition: all 0.3s ease 0s;
	@media (min-width: $mobile) {
		grid-template-rows: rem(80) auto;
		text-align: center;
		justify-items: center;
	}
	@media (max-width: $mobile) {
		grid-template-columns: rem(80) 1fr;
		column-gap: rem(20);
	}
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.2);
		}
	}
	// .item-advantages__body
	&__body {
		display: flex;
		flex-direction: column;
		row-gap: rem(15);
	}
	// .item-advantages__icon
	&__icon {
		@media (min-width: $mobile) {
			align-self: end;
		}
	}
	// .item-advantages__title
	&__title {
		@extend %ff-namu-pro;
		font-weight: 900;
		font-size: rem(20);
		line-height: 120%; /* 24/20 */
		color: #000;
	}
	// .item-advantages__text
	&__text {
		font-weight: 300;
		line-height: 130%;
	}
}

//==========================================================================================================================

.special {
	background-color: #f8f8f8;
	// .special__container
	&__container {
	}
	// .special__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
		span {
			color: $pinkColor;
		}
	}
	// .special__filter
	&__filter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	// .special__products
	&__products {
	}
	// .special__control
	&__control {
		display: flex;
		justify-content: flex-end;
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	// .special__items
	&__items {
		display: grid;
		gap: rem(20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 130, 30);
		}
		@media (max-width: $tablet) {
			grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .special__item
	&__item {
	}
	// .special__footer
	&__footer {
	}
	// .special__pagination
	&__pagination {
	}
}

.filter-special {
	// .filter-special__buttons
	&__buttons {
		// flex: 1 1 auto;
	}
	// .filter-special__more
	&__more {
		// white-space: nowrap;
		align-self: flex-start;
		@media (min-width: $mobile) {
			flex-shrink: 0;
		}
	}
}
.buttons-filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: rem(20);
	// .buttons-filter__btn
	&__btn {
		padding: rem(6) rem(20);
		line-height: 138.888889%; /* 25/18 */
		border: 1px solid #111111;
		border-radius: rem(30);
		@include adaptiveValue("font-size", 18, 14);
		transition: all 0.3s ease 0s;
		&.mixitup-control-active {
			color: $pinkColor;
			border: 1px solid $pinkColor;
		}
	}
}
.special-card {
	overflow: hidden;
	height: 100%;
	background: #fff;
	box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.05);
	border-radius: rem(3);
	display: grid;
	grid-template-rows: auto 1fr auto;
	// .special-card__image-ibg_contain
	&__image-ibg {
		// .special-card__image-ibg_contain
		&_contain {
			padding-bottom: 100%;
		}
		// align-self: center;
	}
	// .special-card__body
	&__body {
		@include adaptiveValue("padding", 40, 15);
		display: flex;
		row-gap: rem(25);
		flex-direction: column;
	}
	// .special-card__text
	&__text {
		flex: 1 1 auto;
		font-weight: 300;
		@include adaptiveValue("font-size", 24, 16);
		line-height: 137.5%; /* 33/24 */
	}
	// .special-card__info
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(10);
	}
	// .special-card__value
	&__value {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(20);
	}
	// .special-card__footer
	&__footer {
	}
}
.info-special-card {
	// .info-special-card__available
	&__available {
		// padding-left: rem(33);
		display: flex;
		column-gap: rem(20);
		@include adaptiveValue("column-gap", 20, 10);
		align-items: center;
		color: #68ae5c;
		line-height: 138.888889%; /* 25/18 */
		&::before {
			content: "";
			display: block;
			width: rem(13);
			height: rem(13);
			border-radius: 50%;
			background-color: #68ae5c;
		}
	}
	// .info-special-card__sale
	&__sale {
		color: #f8f8f8;
		line-height: 137.5%; /* 33/24 */
		background-color: $pinkColor;
		border-radius: rem(3);
		padding-top: rem(7);
		padding-bottom: rem(7);
		@include adaptiveValue("padding-left", 30, 15);
		@include adaptiveValue("padding-right", 30, 15);
	}
}
.value-special-card {
	@extend %ff-namu-pro;
	font-weight: 900;
	// .value-special-card__price
	&__price {
		@include adaptiveValue("font-size", 42, 20);
		line-height: 119.047619%; /* 50/42 */
		color: $blackColor;
	}
	// .value-special-card__old-price
	&__old-price {
		@include adaptiveValue("font-size", 24, 18);
		line-height: 161.111111%; /* 29/18 */
		text-decoration-line: line-through;
		color: #ababab;
	}
}
.footer-special-card {
	// display: flex;
	// align-items: flex-end;
	// justify-content: space-between;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
	@include adaptiveValue("row-gap", 20, 15);

	// .footer-special-card__quantity
	&__quantity {
		&.quantity {
			border: 1px solid $blackColor;
			border-radius: rem(3);
			width: rem(220);
			height: rem(64);
			@include adaptiveValue("height", 64, 38);
			flex-direction: row-reverse;
			margin: 0 auto;
		}
		.quantity__button {
			flex: 0 0 rem(55);
			display: flex;
			align-items: center;
			justify-content: center;
			&::before,
			&::after {
				width: rem(18);
				background-color: $blackColor;
				width: rem(18);
				height: rem(2);
				transition: all 0.3s ease 0s;
			}
			@media (any-hover: hover) {
				&:hover {
					&::before,
					&::after {
						background-color: $pinkColor;
					}
				}
			}
		}
		.quantity__input {
			input {
				color: $blackColor;
				font-size: rem(24);
			}
		}
	}
	// .footer-special-card__button
	&__button {
		display: inline-block;
	}
}

//==========================================================================================================================

.reviews {
	// .reviews__container
	&__container {
	}
	// .reviews__title
	&__title {
		span {
			color: $pinkColor;
		}
		&:not(:last-child) {
			margin-bottom: rem(28);
		}
	}
	// .reviews__table
	&__table {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 30);
		}
	}
	// .reviews__actions
	&__actions {
		display: flex;
		justify-content: center;
	}
	// .reviews__button
	&__button {
		text-align: center;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		column-gap: rem(15);
	}
}
.table-reviews {
	// .table-reviews__line
	&__line {
		border-bottom: 1px solid rgba($blackColor, 0.5);
		display: grid;
		gap: rem(15);
		justify-items: start;
		align-items: start;
		@include adaptiveValue("padding-top", 40, 20);
		@include adaptiveValue("padding-bottom", 40, 20);
		@media (min-width: $mobile) {
			grid-template-columns: percent(230, 1360) 1fr rem(110);
		}
		// .table-reviews__line_header
		&_header {
			padding-top: 0;
			@media (max-width: $mobile) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				gap: rem(15);
			}
		}
	}
	// .table-reviews__rating
	&__rating {
		&.rating {
			flex-direction: column-reverse;
			align-items: flex-start;
			row-gap: rem(3);
			@include adaptiveValue("font-size", 30, 27, 1360, 768, 1);
		}
		.rating__value {
			font-size: 55%;
		}
	}
	// .table-reviews__button
	&__button {
	}
	// .table-reviews__info
	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: rem(10);
	}
	// .table-reviews__name
	&__name {
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 18);
		line-height: 1.5;
		color: $blackColor;
	}
	// .table-reviews__review
	&__review {
	}
	// .table-reviews__date
	&__date {
		line-height: 150%;
		color: #909090;
		@include adaptiveValue("font-size", 18, 14);
	}
}
.review {
	display: flex;
	flex-direction: column;
	row-gap: rem(10);
	// .review__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 16);
		line-height: 150%;
		color: $blackColor;
	}
	// .review__text
	&__text {
		@include adaptiveValue("font-size", 18, 14);
		line-height: 1.4;
		&:not(:last-child) {
			margin-bottom: em(20, 18);
		}
	}
	// .review__pictures
	&__pictures {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15);
		@include adaptiveValue("gap", 20, 10);
	}
	// .review__image-ibg
	&__image-ibg {
		flex: 1 0 rem(95);
		display: inline-block;
		width: 100%;
		max-width: rem(95);
		height: rem(95);
		@include adaptiveValue("max-width", 95, 80);
		@include adaptiveValue("height", 95, 80);
		padding-bottom: percent(95, 990);
	}
	// .review__btn
	&__btn {
		align-self: flex-start;
	}
}

//==========================================================================================================================

.faq {
	background-color: #f8f8f8;
	// .faq__container
	&__container {
	}
	// .faq__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}
	// .faq__spollers
	&__spollers {
		border-top: 1px solid rgba(#ababab, 0.5);
		border-bottom: 1px solid rgba(#ababab, 0.5);
		.spollers {
			// .spollers__item
			&__item {
				&:not(:last-child) {
					border-bottom: 1px solid rgba(#ababab, 0.5);
				}
			}
			// .spollers__title
			&__title {
				@include adaptiveValue("padding-top", 35, 15);
				@include adaptiveValue("padding-bottom", 35, 15);
				width: 100%;
				display: flex;
				justify-content: space-between;
				column-gap: rem(15);
				@include adaptiveValue("font-size", 20, 16);
				line-height: 150%;
				text-align: left;
				color: $blackColor;
				span {
					transition: all 0.3s ease 0s;
					&::before {
						@include adaptiveValue("font-size", 30, 25);
						transition: all 0.3s ease 0s;
					}
					@media (any-hover: hover) {
						&:hover {
							&::before {
								color: $pinkColor;
							}
						}
					}
				}
				&._spoller-active {
					span {
						transform: rotate(-45deg);
					}
				}
			}
			// .spollers__body
			&__body {
				@include adaptiveValue("padding-bottom", 50, 25);
				padding-top: rem(15);
				@include adaptiveValue("font-size", 18, 14);
				font-weight: 300;
				line-height: 150%;
				color: $blackColor;
			}
		}
	}
}

//==========================================================================================================================

.news {
	// .news__container
	&__container {
	}
	// .news__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 30);
		}
	}
	// .news__items
	&__items {
		display: grid;
		column-gap: rem(20);
		row-gap: rem(30);
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 40);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .news__item
	&__item {
	}
	// .news__button
	&__button {
		display: flex;
		justify-content: center;
	}
	// .news__btn
	&__btn {
		display: flex;
		align-items: center;
		gap: rem(15);
	}
}
.item-news {
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: rem(30);
	// .item-news__image-ibg
	&__image-ibg {
		padding-bottom: percent(294, 440);
	}
	// .item-news__body
	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		row-gap: rem(20);
	}
	// .item-news__date
	&__date {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 14);
		line-height: 150%;
		color: #919191;
	}
	// .item-news__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 16);
		line-height: 120%;
		color: $blackColor;
	}
	// .item-news__text
	&__text {
		flex: 1 1 auto;
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 14);
		line-height: 120%;
		color: #000;
	}
	// .item-news__button
	&__button {
		align-self: flex-start;
	}
}

//==========================================================================================================================

.contacts {
	background-color: #f8f8f8;
	// .contacts__container
	&__container {
	}
	// .contacts__row
	&__row {
		display: grid;
		gap: rem(30);
		row-gap: rem(40);
		@media (min-width: $mobile) {
			grid-template-columns: 1fr 1fr;
		}
	}
	// .contacts__column
	&__column {
	}
}
.contacts-connection {
	// .contacts-connection__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
	}
	// .contacts-connection__form
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: rem(15);
	}
}
.form-connection {
	// .form-connection__item
	&__item {
		// .form-connection__item_name
		&_name {
		}
		// .form-connection__item_phone
		&_phone {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 55, 30);
			}
		}
		// .form-connection__item_btn
		&_btn {
		}
		&._form-error {
			.form__error {
				color: red;
				font-size: rem(12);
				margin-top: rem(5);
			}
		}
	}
	// .form-connection__input
	&__input {
		width: 100%;
		padding: rem(15) rem(10);
		border-bottom: 1px solid $blackColor;
		@include adaptiveValue("font-size", 18, 16);
		line-height: 138.888889%; /* 25/18 */
		color: #000;
		background-color: transparent;
		@media (min-width: $mobile) {
			width: 80%;
		}
		&::placeholder {
			color: #ababab;
		}
	}
	// .form-connection__button
	&__button {
	}
}
.contacts-subscribe {
	// .contacts-subscribe__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
	}
	// .contacts-subscribe__form
	&__form {
	}
}
.form-subscribe {
	// .form-subscribe__item
	&__item {
		// .form-subscribe__item_email
		&_email {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 70, 30);
			}
		}
		// .form-subscribe__item_btn
		&_btn {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 35, 25);
			}
		}
		// .form-subscribe__item_checkbox
		&_checkbox {
		}
		&._form-error {
			.form__error {
				color: red;
				font-size: rem(12);
				margin-top: rem(5);
			}
		}
	}
	// .form-subscribe__input
	&__input {
		width: 100%;
		padding: rem(15) rem(10);
		border-bottom: 1px solid $blackColor;
		@include adaptiveValue("font-size", 18, 16);
		line-height: 138.888889%; /* 25/18 */
		color: #000;
		background-color: transparent;
		&::placeholder {
			color: #ababab;
		}
		@media (min-width: $mobile) {
			width: 80%;
		}
	}
	// .form-subscribe__checkbox
	&__checkbox {
		@media (min-width: $mobile) {
			max-width: rem(560);
		}
		&._form-error {
			.form__error {
				color: red;
				font-size: rem(12);
				margin-top: rem(5);
			}
		}
		.checkbox {
			// .checkbox__input
			&__input {
				&:focus + .checkbox__label:before {
					box-shadow: none;
				}
				&:checked + .checkbox__label:before {
					content: "\e904";
					background: transparent;
				}
			}
			// .checkbox__label
			&__label {
				display: flex;
				&::before {
					content: "";
					font-size: rem(18);
					align-self: flex-start;
					flex: 0 0 rem(30);
					width: rem(30);
					height: rem(30);
					border: 1px solid $blackColor;
					border-radius: rem(3);
					color: $pinkColor;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			// .checkbox__text
			&__text {
				@include adaptiveValue("font-size", 16, 13);
				line-height: 120%;
				color: #000;
				a {
					display: inline-block;
					color: $pinkColor;
					border-bottom: 1px solid transparent;
					transition: all 0.3s ease 0s;
					@media (any-hover: hover) {
						&:hover {
							border-bottom: 1px solid $pinkColor;
						}
					}
				}
			}
		}
	}
}
//==========================================================================================================================

// ! ==========================================================================================================================
/* 
.test {
	// .test__img-ibg
	&__img-ibg {
		display: block;
		max-width: 100px;
		max-height: 100px;
		padding-bottom: percent(100, 1360);
	}
}
*/
