//====================================================================================================

.page {
	// .page_mainpage
	&_mainpage {
		@include adaptiveValue("padding-top", 110, 85);
	}
}

//==========================================================================================================================

.mainpage {
	background: linear-gradient(0deg, #dddddd, #dddddd);
	// .mainpage__container
	&__container {
		display: grid;
		column-gap: rem(20);
		row-gap: rem(40);
		align-items: end;
		@media (min-width: $mobile) {
			grid-template-columns: 1fr percent(720, 1360);
		}
	}
	// .mainpage__body
	&__body {
		padding: rem(20) 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		@include adaptiveValue("row-gap", 40, 15);
		@media (min-width: $mobile) {
			max-width: rem(560);
		}
	}
	// .mainpage__title
	&__title {
		@extend %ff-namu-pro;
		font-weight: 900;
		@include adaptiveValue("font-size", 46, 24);
		line-height: 103%;
		color: $blackColor;
	}
	// .mainpage__text
	&__text {
		@include adaptiveValue("font-size", 26, 14);
		line-height: 130%;
		color: $blackColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 0, 1360, 768, 1);
		}
	}
	// .mainpage__button
	&__button {
		align-self: flex-start;
	}
	// .mainpage__media
	&__media {
	}
	// .mainpage__image-ibg
	&__image-ibg {
		padding-bottom: 100%;
	}
}

//====================================================================================================
